body {
	padding: 10px;
	box-sizing: border-box;
	background-color: rgb(255, 255, 255);
	margin: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1100px;
	height: 100%;
	max-height: 550px;
	background-color: var(--grey);
}

.header-content {
	box-sizing: border-box;
	height: 100px;
	padding-left: 60px;
	display: flex;
	justify-content: start;
	align-items: center;
	font-family: Calamity;
	color: white;
	font-size: 34px;
	background-color: var(--green);
}

.body-content {
	display: flex;
	box-sizing: border-box;
	padding: 20px 40px;
}

.game {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 320px;
}

.wrap {
	overflow: hidden;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 330px;
}

.screen {
	border: none;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	height: 50px;
	width: 320px;
	font-family: Calamity;
	color: white;
	font-size: 34px;
	background-color: var(--dark-green);
}

.info {
	padding-left: 20px;
	min-width: 0;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: end;
	flex-grow: 1;
}

.description {
	padding: 15px;
	box-sizing: border-box;
	width: 100%;
	height: 330px;
	background-color: white;
	font-family: Calamity;
}

.other-games-row {
	display: flex;
	justify-content: center;
	overflow-x: hidden;
	overflow-y: hidden;
	box-sizing: border-box;
	margin-top: 30px;
	width: 100%;
	max-width: 100%;
	height: 50px;
	background-color: var(--dark-green);
}

.game-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;

	color: white;
	font-family: Calamity;
	font-size: 20px;
	margin: 8px;
	box-sizing: border-box;
	padding: 0px 20px;
	border: solid white 1px;
	box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
	background-color: var(--green);
}

@media (max-width: 1100px) {
	.main {
		max-height: unset;
	}

	.body-content {
		flex-direction: column;
		align-items: center;
	}

	.game {
		align-items: center;
		width: 480px;
	}

	.wrap {
		height: 480px;
	}

	.title {
		width: 480px;
		margin-top: 18px;
	}

	body {
		height: unset;
	}

	.info {
		margin-top: 20px;
		padding-left: 0px;
		align-items: center;
	}

	.description {
		height: unset;
		padding: 15px;
	}
}

@media (max-width: 700px) {
	.other-games-row {
		height: unset;
		flex-wrap: wrap;
	}
}

@media (max-width: 700px) {
	.header-content {
		height: 70px;
		padding-left: 0;
		justify-content: center;
		font-size: 28px;
	}

	.game {
		align-items: center;
		width: 300px;
	}

	.wrap {
		height: 300px;
	}

	.title {
		width: 300px;
		margin-top: 18px;
	}
}

@media (max-width: 500px) {
	.header-content {
		font-size: 18px;
	}
}